<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="card" style="width: 18rem">
      <img
        src="
            https://img.icons8.com/external-itim2101-flat-itim2101/300/000000/external-human-artificial-intelligence-itim2101-flat-itim2101.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <% data.forEach(human=> { %>
        <h5 class="card-title"><%= human.name %></h5>
        <p class="card-text">
          Umurnya saya adalah <%= human.age %> asalnya dari <%=human.address %>
        </p>
        <a href="#" class="btn btn-primary">Hubungi saya</a>
        <% }) %>
      </div>
    </div>
  </body>
</html>
